.ipynb_checkpoints/prototype-checkpoint.ipynb
.ipynb_checkpoints/prototype-nn-checkpoint.ipynb
.ipynb_checkpoints/scanner_learning-checkpoint.ipynb
.ipynb_checkpoints/scanner-checkpoint.ipynb
notebook/wine_env
notebook/venv
**/.ipynb_checkpoints/**
__pycache__/menu_grouper.cpython-312.pyc
__pycache__/menu_token_enrichor.cpython-312.pyc
__pycache__/menu_token_extractor.cpython-312.pyc
__pycache__/menu_token_grouper.cpython-312.pyc
__pycache__/robust_text_generator.cpython-312.pyc
__pycache__/text_generator.cpython-312.pyc
__pycache__/token_enrichor.cpython-312.pyc
__pycache__/token_extractor.cpython-312.pyc
config/__pycache__/wine.cpython-312.pyc
